################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build files
/*/bin
/*/obj
/.vs
/.idea

# Development config files
DevVars.targets

# Resharper settings
*.DotSettings.user